In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
# Data Entry
# School Level Processing
# Non Majority-Minority Aggregate
# Methods for identifying errors in participant responses
# pathe = path to directory where MBES data folder is stored
# pathe =

In [ ]:
MBES = pd.read_csv(pathe + 'MBES/MBES_lhs_education_history_20230412.csv')

In [ ]:
def MakeSchoolInfoDataEntry(df):
  # Transformed LHS dataset into one that can be used for school info data entry
  # Rows are now for each school, rather than for each study ID
  # The resulting dataframe cannot be used with any other methods
  colMap = {'Write the name of your FIRST school.': 1 ,'Write the name of your SECOND school' : 2 , 'Write the name of your THIRD school.' : 3,'Write the name of your FOURTH school': 4,'Write the name of your FIFTH school.' : 5,'Write the name of your SIXTH school.' : 6 ,'Write the name of your SEVENTH school.' :  7,'Write the name of your EIGHTH school.' : 8,'Write the name of your NINTH school.': 9,'Write the name of your TENTH school.': 10}
  df = df.rename(mapper = colMap,  axis='columns')
  SchoolName = pd.melt(df, id_vars='Study ID', var_name = 'School ID', value_name = 'School Name',  value_vars=[1,2,3,4,5,6,7,8,9,10])
  CityName = pd.melt(df, id_vars='Study ID', var_name = 'City ID', value_name = 'City Name',  value_vars=['Write the city/town of your FIRST school.', 'Write the city/town of your SECOND school.', 'Write the city/town of your THIRD school.', 'Write the city/town of your FOURTH school.', 'Write the city/town of your FIFTH school.', 'Write the city/town of your SIXTH school.', 'Write the city/town of your SEVENTH school.', 'Write the city/town of your EIGHTH school.', 'Write the city/town of your NINTH school.', 'Write the city/town of your TENTH school.'])
  State =  pd.melt(df, id_vars='Study ID', var_name = 'State ID', value_name = 'State',  value_vars=['Write the state (or country) of your FIRST school.', 'Write the state (or country) of your SECOND school.', 'Write the state (or country) of your THIRD school.', 'Write the state (or country) of your FOURTH school.', 'Write the state (or country) of your FIFTH school.', 'Write the state (or country) of your SIXTH school.', 'Write the state (or country) of your SEVENTH school.', 'Write the state (or country) of your EIGHTH school.', 'Write the state (or country) of your NINTH school.', 'Write the state (or country) of your TENTH school.'])
  EndAge = pd.melt(df, id_vars='Study ID', var_name = 'End Age ID', value_name = 'End Age',  value_vars=['Write the end age of attending your FIRST school.', 'Write the end age of attending your SECOND school.', 'Write the end age when attending your THIRD school', 'Write the end age when attending your FOURTH school', 'Write the end age when attending your FIFTH school.', 'Write the end age when attending your SIXTH school.', 'Write the end age when attending your SEVENTH school.', 'Write the end age of your EIGHTH school.', 'Write the end age when attending your NINTH school.', 'Write the end age when attending your TENTH school.'])
  StartAge = pd.melt(df, id_vars='Study ID', var_name = 'Start Age ID', value_name = 'Start Age',  value_vars=['Write the start age of attending your FIRST school.', 'Write the start age when attending your SECOND school.', 'Write the start age when attending your THIRD school.', 'Write the start age when attending your FOURTH school.', 'Write the start age when attending your FIFTH school.', 'Write the start age when attending your SIXTH school.', 'Write the start age when attending your SEVENTH school.', 'Write the start age when attending your EIGHTH school.', 'Write the start age when attending your NINTH school.', 'Write the start age when attending your TENTH school.'])
  StartGrade = pd.melt(df, id_vars='Study ID', var_name = 'Start Grade ID', value_name = 'Start Grade',  value_vars=['Write the start grade of your FIRST school.', 'Write the start grade of your SECOND school.', 'Write the start grade of your THIRD school.', 'Write the start grade of your FOURTH school.', 'Write the start grade of your FIFTH school.', 'Write the start grade of your SIXTH school.', 'Write the start grade of your SEVENTH school.', 'Write the start grade of your EIGHTH school.', 'Write the start grade of your NINTH school.', 'Write the start grade of your TENTH school.'])
  EndGrade = pd.melt(df, id_vars='Study ID', var_name = 'End Grade ID', value_name = 'End Grade',  value_vars=['Write the end grade of your FIRST school.', 'Write the end grade of your SECOND school.', 'Write the end grade of your THIRD school.', 'Write the end grade of your FOURTH school.', 'Write the end grade of your FIFTH school.', 'Write the end grade of your SIXTH school.', 'Write the end grade of your SEVENTH school.', 'Write the end grade of your EIGHTH school.', 'Write the end grade of your NINTH school.', 'Write the end grade of your TENTH school.'])
  m = pd.concat([SchoolName,
               CityName.drop(columns = ['Study ID','City ID']),
               State.drop(columns = ['Study ID','State ID']),
               StartAge.drop(columns = ['Study ID','Start Age ID']),
               EndAge.drop(columns = ['Study ID','End Age ID']),
               StartGrade.drop(columns = ['Study ID','Start Grade ID']),
               EndGrade.drop(columns = ['Study ID','End Grade ID'])]
               ,axis="columns")
  m = m.sort_values(by=['Study ID', 'School ID'])
  m.dropna(how = 'all', subset = [ 'School Name'], inplace = True)
  m.insert(5, 'Zipcode', None)
  m.insert(6, 'School District', None)
  m.insert(7, 'Any Ranking Info', None)
  m.insert(8, 'Links', None)
  m.insert(9, 'Notes', None)
  m['Type'] = None
  return m

In [ ]:
d = MakeSchoolInfoDataEntry(MBES)

In [ ]:
len(d['Study ID'].unique())

School Level Processing

In [ ]:
def addSchoolLvlCol(dataframe, numberofschools):
  digtoword = {
  1 : 'first',
  2: 'second',
  3: 'third',
  4: 'fourth',
  5: 'fifth',
  6: 'sixth',
  7: 'seventh',
  8: 'eighth',
  9: 'ninth',
  10: 'tenth',
  11: 'eleventh',
  12 : 'twelfth',
  13: 'thirteenth'

}
  for i in reversed(range(1,numberofschools)):
    dataframe.insert((i*10), 'Was your ' + digtoword[i] + ' school an elementary school?', "")
    dataframe.insert((i*10) + 1, 'Was your ' + digtoword[i] + ' school a middle school?', "")
    dataframe.insert((i*10) + 2, 'Was your ' + digtoword[i] + ' school a high school?', "")
  dataframe['Did you attend an '  + digtoword[(numberofschools + 1)] + ' school after your tenth school?'] = "No"
  dataframe['Was your ' + digtoword[numberofschools] + ' school an elementary school?'] = ""
  dataframe['Was your '+  digtoword[numberofschools] + ' school a middle school?'] = ""
  dataframe['Was your ' + digtoword[numberofschools] + ' school a high school?'] = ""
def addSchoolLvlCol2(dataframe, numberofschools):
  digtoword = {
  1 : 'first',
  2: 'second',
  3: 'third',
  4: 'fourth',
  5: 'fifth',
  6: 'sixth',
  7: 'seventh',
  8: 'eighth',
  9: 'ninth',
  10: 'tenth',
  11: 'eleventh',
  12 : 'twelfth',
  13: 'thirteenth'

}
  for i in reversed(range(1,numberofschools)):
    dataframe.insert((i*10), str(i) + 'a', "")
    dataframe.insert((i*10) + 1, str(i) + 'b', "")
    dataframe.insert((i*10) + 2, str(i) + 'c', "")
  dataframe["11 school or nah?"] = ""
  dataframe['10a'] = ""
  dataframe['10b'] = ""
  dataframe['10c'] = ""

In [ ]:

from numpy import NaN
import math
def schoollevel(df, numschools):
  addSchoolLvlCol2(df, numschools)
  numRows = len(df.index)
  Elem = [0,1,2,3,4,5]
  Mid = [6,7,8]
  High = [9,10,11,12]

  for f in range(0,numRows):
    df.iloc[f,(10)] = 0
    df.iloc[f,(11)] = 0
    df.iloc[f,(12)] = 0
    if math.isnan(float(df.iloc[f,((1))])) or math.isnan(float(df.iloc[f,(2)])):
        df.iloc[f,(10)] = None
        df.iloc[f,(11)] = None
        df.iloc[f,(12)] = None
    else:
      YearsSpent1 = range(int(df.iloc[f,1]),int(df.iloc[f,2])+ 1)
      for j in YearsSpent1:
        if j in Elem :
          df.iloc[f,(10)] = 1
        if j in Mid:
          df.iloc[f,(11)] = 1
        if j in High:
          df.iloc[f,(12)] = 1
    for i in range(1,10):
      df.iloc[f,((13*i)+10)] = 0
      df.iloc[f,((13*i)+11)] = 0
      df.iloc[f,((13*i)+12)] = 0
      if math.isnan(float(df.iloc[f,((13*i))])) or math.isnan(float(df.iloc[f,((13*i)+1)])):
        df.iloc[f,((13*i)+10)] = None
        df.iloc[f,((13*i)+11)] = None
        df.iloc[f,((13*i)+12)] = None
        continue
      YearsSpent = range(int(df.iloc[f,((13*i))]),int(df.iloc[f,((13*i)+1)] + 1))
      for j in YearsSpent:
        if j in Elem :
          df.iloc[f,((13*i)+10)] = 1
        if j in Mid:
          df.iloc[f,((13*i)+11)] = 1
        if j in High:
          df.iloc[f,((13*i)+12)] = 1

MBES = pd.read_csv(pathe + 'MBES/MBES_lhs_education_history_20230412.csv')
schoollevel(MBES, 10)

Non Majority-Minority Aggregate

In [ ]:
# Issues: People who moved schools in same year- how to handle?
# People who had inconsistent history - i.e. 1st school: grades 1 - 6 ; 2nd school: grades 1- 7
# some people misunderstood the question;

def nonminoritymajority(df):
  df['What degree was your education at a non-majority minority school?'] = None
  df['How many years did you spend in a non-majority minority school?'] = None
  df['Last reported grade'] = None

  numRows = len(df.index)
  for f in range(0,numRows):
    NMMST = 0
    NMMS = 0
    grades = []
    grades.append(df.iloc[f,(2)])
    for i in range(1,10):
        grades.append(df.iloc[f,13*i + 1])
    # Last year of School

    LYOS = max(grades)
    if LYOS > 12:
      LYOS = 12


    if df.iloc[f,(2)] == df.iloc[f,(1)]:
      YSAS1 = 1
    else:
      YSAS1 = df.iloc[f,(2)] - df.iloc[f,(1)] + 1
    if df.iloc[f,(9)] == "White":
      NMMS = 1
    NMMST = NMMS*YSAS1
    for i in range(1,10):
      NMMS = 0
      YSAS = 0
      if math.isnan(float(df.iloc[f,((13*i))])) or math.isnan(float(df.iloc[f,((13*i)+1)])):
        continue
      if df.iloc[f,((13*i))] > 12 or df.iloc[f,((13*i)+1)] > 12:
        continue
      if df.iloc[f,(13*i) + 1] == df.iloc[f,13*i]:
        YSAS = 1
      else:
        YSAS = df.iloc[f,(13*i) + 1] - df.iloc[f,13*i] + 1
      if i == 1 and df.iloc[f,13] == df.iloc[f,2]:  # Accounting for 1st school midyear switches
        YSAS = YSAS-1
      if df.iloc[f,13*i] == df.iloc[f,13*(i-1)]:  # Accounting for midyear switches,
        YSAS = YSAS-1
      if df.iloc[f,(13*i) + 8] == "White":
        NMMS = 1
      NMMST = NMMST + NMMS*YSAS




    df.iloc[f,131] = NMMST
    df.iloc[f,132] = LYOS
    if df.iloc[f,(1)] == 0:
      NMMSCA = NMMST / (LYOS + 1)
    else:
      NMMSCA = NMMST / LYOS
    df.iloc[f,130] = NMMSCA


nonminoritymajority(MBES)

In [ ]:
def getOverlappingSchoolYearsRows(df):
  # Takes the whole dataframe, assuming school level processing done
  # identifies participants whose start and end grades overlap,
  # and returns dataframe of only the particpants who overlap
  # We then edited the participants individually
  numRows = len(df.index)
  IDs = []
  for f in range(0,numRows):
    if math.isnan(float(df.iloc[f,((1))])) or math.isnan(float(df.iloc[f,(2)])):
      continue
    grades = []
    grades.extend(range(int(df.iloc[f,1]),int((df.iloc[f,2]+ 1) ) ))
    for i in range(1,10):
      if df.iloc[f,((13*i))] > 12 or df.iloc[f,((13*i)+1)] > 12:
        continue
      if math.isnan(float(df.iloc[f,13*i])) or math.isnan( float(df.iloc[f,13*i + 1] ) ):
       continue
      if df.iloc[f,(13*i) + 1] == df.iloc[f,13*i]: #if end grade = start grade
        if i ==1 and df.iloc[f,13*i] == df.iloc[f,2]: # Accouting for unique number of columns for first school
              continue # if start grade = end grade & start grade = previous end grade, dont add values to grades
        if df.iloc[f,13*i] == df.iloc[f,13*(i-1) + 1]:  # if start grade = previous school end grade
          continue # if start grade = end grade & start grade = previous end grade, dont add values to grades
        grades.append(df.iloc[f,13*i]) # adding only start grade
        continue
      if i ==1 and df.iloc[f,13*i] == df.iloc[f,2]: # Accouting for unique number of columns for first school
          # if start grade = previous end grade, begin adding one year past start grade
          grades.extend(range(int(df.iloc[f,13*i] + 1),int((df.iloc[f,13*i + 1]+ 1) ) ))
          continue
      if df.iloc[f,13*i] == df.iloc[f,13*(i-1)+ 1]: # if start grade = previous school end grade
        # begin adding one year past start grade
        grades.extend(range(int(df.iloc[f,13*i] + 1),int((df.iloc[f,13*i + 1]+ 1) ) ))
        continue
      grades.extend(range(int(df.iloc[f,13*i]),int((df.iloc[f,13*i + 1]+ 1) ) ))

    unique = set(grades)

    if not len(unique) == len(grades):
      IDs.append(df.iloc[f,0])
  subset = MBES[MBES['Study ID'].isin(IDs)]
  return subset

incorrect = getOverlappingSchoolYearsRows(MBES)

len(incorrect['Study ID'])

In [ ]:
# inc = incorrect['Study ID']
# inc
# print( inc.to_string(index=False))
# IDs with overlapping school histories

In [ ]:
# MBES[MBES['What degree was your education at a non-majority minority school?'] > 1]['Study ID']

In [ ]:

MBES.to_csv(pathe + 'MBES/Education_level_and_NMM_appended_MBES_lhs_education_history_20230428.csv', index = False)

In [ ]:
# The following code was used with a file with manually entered geolocation confidence values based on if they had an exact address (5)
# if they had just the street + zip (4) , just the zip (3), just the city (2), just the state (1), or foreign address (0)
analysis = pd.read_csv(pathe + 'MBES/Life History Survey (MBES) - ElemConfidenceAnalysis.csv')
analysis['Geolocation Confidence Level (1 - 5)'].value_counts()

In [ ]:

# Analyzing start, end grades and start, end ages to find gaps 
print('The Number of empty start ages: ' +
str(len(analysis[analysis['Start Age'].isna() == True])))
print('The Number of empty end ages: ' +
str(len(analysis[analysis['End Age'].isna() == True])))
print('The Number of empty start ages: ' +
str(len(analysis[analysis['Start Grade'].isna() == True])))
print('The Number of empty end grades: ' +
str(len(analysis[analysis['End Grade'].isna() == True])))

In [ ]:
analysis[analysis['End Age'].isna() == True]['Study ID']

In [ ]:
analysis[analysis['Start Age'].isna() == True]['Study ID']

In [ ]:
analysis[analysis['Start Grade'].isna() == True]['Study ID']

In [ ]:
analysis[analysis['End Grade'].isna() == True]['Study ID']

In [ ]:
analysis[(analysis['Study ID'] == 22998) & (analysis['School ID']== 3)]